:root {
  --sidebar-width: 200px;
}

.app-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
  width: var(--sidebar-width);
  padding: 20px;
}

.page-content {
  margin-left: calc(var(--sidebar-width) + 100px);
}
